registry=https://microsoft.pkgs.visualstudio.com/_packaging/cpx-marketplace-agorasui-Consumption/npm/registry/

legacy-peer-deps=true
package-lock=false



; begin auth token
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/registry/:username=marketplace
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/registry/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/registry/:email=marketplace@microsoft.com
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/:username=marketplace
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//pkgs.dev.azure.com/Marketplace/_packaging/cpx-marketplace-agorasui/npm/:email=marketplace@microsoft.com
; end auth token